# Raphael workspace files:
rprof.test.h5
old_codes_and_files/
examples_06_and_11/old_figs/
radek_codes/
mre_test_chi2/
add_parallax/*

# Projects (in order of creation)
W16-59events/*
OB231171/*
Golovich_test/*
OGLE-6events/*
OGLE-EWS/*
OGLE-evfinder/*